    * {
        padding: 0;
        margin: 0;
        /* border: solid 1px black; */
    }
    
    body {
        background-color: #1985A1;
        /*rgba(2, 118, 172, 0.89);*/
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;
    }
    
    #headerx {
        height: 100px;
        min-width: 650px;
    }
    
    #menu {
        height: inherit;
    }
    
    header #menu ul {
        margin: 0;
        padding: 0;
        height: inherit;
        vertical-align: middle;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    header #menu ul li {
        display: inline-block;
        padding: 10px;
        vertical-align: middle;
    }
    
    header #menu ul li a {
        color: black;
        text-decoration: none;
    }
    
    header #menu ul li a:hover {
        color: white;
        text-decoration: none;
    }
    
    header #menu ul #perfil {
        /* min-width: 300px; */
        width: 60%;
        text-align: end;
    }
    
    header #menu ul #regresar {
        margin-right: 10%;
    }
    /*****Cuerpo*********************/
    
    .containerBase {
        padding-bottom: 30px;
        border: 1px solid black;
        background-image: url(../RES/img/fondoBlanco.jpg);
        background-size: cover;
        background-attachment: fixed;
        min-height: 110vh;
        min-width: 650px;
    }
    
    .formulario {
        background-color: white;
        margin-top: 150px;
        padding: 5px;
    }
    
    h1 {
        text-align: center;
        margin: 20px;
    }
    
    h2 {
        margin: 0 4%;
    }
    
    h3 {
        text-align: center;
    }
    
    .containerBase ol {
        /* position: relative; */
        margin: 0 4%;
    }
    
    .ejemplo {
        color: rgb(116, 116, 116);
        font-size: 14px;
        margin: 5px 0;
    }
    
    input[type="radio"] {
        /* padding: 5px;
        margin: 5px; */
        margin-left: 20px;
        /* width: 8%; */
        font-size: 16px;
        border: none;
    }
    
    input[type="number"] {
        padding: 5px;
        margin: 5px;
        margin-left: 20px;
        width: 8%;
        font-size: 16px;
        border: none;
        /* style="font-size: 20px; border: none; padding: 5px; margin: 5px; width: 20%;" */
    }
    
    input[type="text"],
    input[type="email"],
    input[type="password"] {
        font-size: 16px;
        width: 82%;
        padding: 10px;
        border: none;
    }
    
    .radio {
        font-size: 16px;
        text-align: center;
        cursor: pointer;
        margin: 10px 0;
    }
    
    .radio label {
        /* padding: 5px; */
        display: inline-block;
        cursor: pointer;
    }
    
    .input-container {
        font-size: 16px;
        margin: 10px 0;
        text-align: center;
        /* border: 1px solid #aaa; */
        /* display: flex; */
        /* justify-content: center; */
        /* align-items: center; */
    }
    
    footer {
        background-color: #1985A1;
        /* rgb(2, 143, 209); */
        height: 30px;
        width: 100%;
        min-width: 650px;
        line-height: 30px;
        text-align: center;
    }
    /* ***************** */
    
    .divBtn {
        display: flex;
        justify-content: center;
    }
    
    .btn {
        /* border: none; */
        width: 20%;
        /* margin: auto; */
        color: white;
        font-size: 18px;
        background-color: #1a2537;
        padding: 15px 20px;
        border-radius: 3px;
        margin: 10px 0;
        cursor: pointer;
    }
    
    .btn:hover {
        background-color: cadetblue;
    }
    /* **************** */
    
    @media (min-width: 768px) {
        .formulario {
            padding: 10px 20px;
            width: 65%;
            margin: auto;
            margin-top: 25px;
            border-radius: 2%;
        }
    }
    /* ********** Contenedores Formularios ********** */
    
    #noPreparaAlimento {
        display: none;
    }
    
    #noLavaTrastes {
        display: none;
    }
    
    #noBarre {
        display: none;
    }
    
    #noTrapea {
        display: none;
    }
    
    #noLavaRopa {
        display: none;
    }
    
    #noSeMaquilla,
    #noSeDesmaquilla {
        display: none;
    }
    
    #noClasesVirtuales {
        display: none;
    }
    
    #noClasesPresenciales,
    #noClasesPresenciales2 {
        display: none;
    }
    
    #noEstudioAutodidacta {
        display: none;
    }
    
    #noAvanceProyecto {
        display: none;
    }
    
    #noVerTvSerie {
        display: none;
    }
    
    #noVideojuegos {
        display: none;
    }
    
    #noRedesSociales {
        display: none;
    }
    
    #noSalirConAmigos {
        display: none;
    }
    
    #noSalirConNovio {
        display: none;
    }
    
    #noEventoSocial {
        display: none;
    }
    
    #noHaceEjercicio {
        display: none;
    }
    
    #noTrabaja {
        display: none;
    }
    
    #noHaceCompras {
        display: none;
    }
    
    #noPaseaPerro {
        display: none;
    }
    
    #noBañaPerro {
        display: none;
    }
    /* ***************** */
    
    #desayunoHorarioFijo_si {
        display: none;
    }
    
    #desayunoHorarioFijo_no {
        display: none;
    }
    
    #comidaHorarioFijo_si {
        display: none;
    }
    
    #comidaHorarioFijo_no {
        display: none;
    }
    
    #cenaHorarioFijo_si {
        display: none;
    }
    
    #cenaHorarioFijo_no {
        display: none;
    }
    /* ***************** */
    /* #containerAlimentacion {
        display: block;
 
    } */
    
    #containerLimpieza {
        display: none;
    }
    
    #containerHigiene {
        display: none;
    }
    
    #containerEstudiar {
        display: none;
    }
    
    #containerEntretenimiento {
        display: none;
    }
    
    #containerVidaSocial {
        display: none;
    }
    
    #containerOtrasActividades {
        display: none;
    }