* {
    padding: 0;
    margin: 0;
    /* border: solid 1px black; */
}

body {
    background-color: #1985A1;
    /* rgba(2, 118, 172, 0.89); */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

#headerx {
    height: 100px;
    min-width: 650px;
}

#menu {
    padding-top: 10px;
}

header #menu ul {
    margin: 0;
    padding: 0;
}

header #menu ul li {
    display: inline-block;
    padding: 10px;
    vertical-align: middle;
}

header #menu ul li a {
    color: black;
    text-decoration: none;
}

header #menu ul li a:hover {
    color: white;
    text-decoration: none;
}

header #menu ul #acerca {
    /* min-width: 300px; */
    width: 60%;
    text-align: end;
}

header #menu ul #logo {
    margin-left: 5%;
}


/*************************/

#container1 {
    padding-bottom: 30px;
    border: 1px solid black;
    background-image: url(../RES/img/fondo2.jpg);
    background-size: cover;
    background-attachment: fixed;
    min-height: 110vh;
    min-width: 650px;
}

#container1 main {
    width: calc(100% - 100px);
    margin: auto;
}

#container1 main div {
    width: 100%;
    display: inline-block;
    vertical-align: middle;
}

#container1 main .text h1 {
    padding: 30px 0;
    font-size: 60px;
    text-align: center;
    width: 100%;
    margin: auto;
}

#container1 main .text #p1 {
    width: calc(80% - 300px);
    font-size: 30px;
    text-align: center;
    -webkit-text-stroke: black 0.3px;
    margin: auto;
    padding: 10px 0;
}

#container1 main .text #p2 {
    width: 200px;
    margin: auto;
}

button {
    border: 1px solid black;
    border-radius: 3px;
    background-color: rgb(0, 7, 105);
    color: white;
    cursor: pointer;
    font-size: 24px;
    padding: 20px 25px;
    margin: 40px 0;
}

button:hover {
    background-color: rgb(27, 42, 255);
}

footer {
    background-color: #1985A1;
    /* rgb(2, 143, 209); */
    height: 30px;
    width: 100%;
    min-width: 650px;
    line-height: 30px;
    text-align: center;
}


/**ventana emergente**/

#ventanaEmergente {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: none;
}

#ventanaEmergente #acercaDe {
    background-color: whitesmoke;
    padding: 20px;
    min-height: 200px;
    border-radius: 15px;
    position: fixed;
    width: calc(60% - 100px);
    top: 20%;
    left: 22%;
    display: none;
}

#ventanaEmergente #acercaDe h4 {
    text-align: center;
    padding-bottom: 15px;
}

#ventanaEmergente #acercaDe p {
    padding: 5px;
}

#ventanaEmergente #acercaDe #cerrar {
    position: absolute;
    left: 90%;
}