* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 8;
    background-image: url(../RES/img/fondo2.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.container {
    width: 100%;
    padding: 15px;
}

.formulario {
    background-color: white;
    margin-top: 150px;
    padding: 3px;
}

h1 {
    text-align: center;
    color: black;
    font-size: 40px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    font-size: 20px;
    width: 82%;
    padding: 10px;
    border: none;
}

.radio {
    font-size: 20px;
    text-align: center;
    cursor: pointer;
}

.radio label {
    padding: 5px;
    display: inline-block;
    cursor: pointer;
}

.input-container {
    font-size: 20px;
    margin-bottom: 15px;
    border: 1px solid #aaa;
}

.nivel-academico {
    padding-top: 10px;
    padding-bottom: 5px;
}

.icon {
    min-width: 50px;
    text-align: center;
    color: #999;
}

.boton {
    border: none;
    width: 100%;
    color: white;
    font-size: 20px;
    background-color: #1a2537;
    padding: 15px 20px;
    border-radius: 3px;
    cursor: pointer;
}

.boton:hover {
    background-color: cadetblue;
}

p {
    text-align: center;
}

.link {
    text-decoration: none;
    color: #1a2537 rgb(3, 180, 3);
    font-weight: 600;
}

.link:hover {
    color: cadetblue;
}

@media (min-width:768px) {
    .formulario {
        margin: auto;
        width: 500px;
        margin-top: 80px;
        border-radius: 2%;
    }
}