* {
    padding: 0;
    margin: 0;
    /* border: solid 1px black; */
}

body {
    background-color: #1985A1;
    /*rgba(2, 118, 172, 0.89);*/
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    /* width: 100%; */
    width: 100vw;
    min-width: 1000px;
}

#headerx {
    height: 100px;
}

#menu {
    padding-top: 10px;
}

header #menu ul {
    margin: 0;
    padding: 0;
}

header #menu ul li {
    display: inline-block;
    padding: 10px;
    vertical-align: middle;
}

header #menu ul li a {
    color: black;
    text-decoration: none;
}

header #menu ul li a:hover {
    color: white;
    text-decoration: none;
}

header #menu ul #perfil {
    /* min-width: 300px; */
    /* width: 55%; */
    margin-left: 50%;
    /* text-align: end; */
}

header #menu ul #logo {
    margin-left: 5%;
}


/**************************/

#container1 {
    padding-bottom: 30px;
    border: 1px solid black;
    background-image: url(../RES/img/fondoBlanco.jpg);
    background-size: cover;
    background-attachment: fixed;
    min-height: 110vh;
    /* min-width: 650px; */
}

h1 {
    text-align: center;
    margin: 20px;
}


/************************************/

.seccion {
    width: 80%;
    /* margin: 0 60px; */
    /* padding: 5px 0; */
    height: 250px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.subseccion {
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* display: inline-block; */
    text-align: center;
    height: 100%;
}

.subseccion1 {
    width: 40%;
    height: 93%;
    border: solid 1px black;
    background-color: rgba(249, 251, 242, 0.7);
}

.subseccion2 {
    width: 60%;
}

.subimagen {
    position: absolute;
    width: 60%;
    right: 0;
    top: 0;
    /* transform: translate(0, 20%); */
    background-position-y: 60%;
    background-size: cover;
}

#subimagen1 {
    background-image: url(../RES/img/act2.jpg);
}

#subimagen2 {
    background-image: url(../RES/img/act-iti1.jpg);
    background-position-y: 70%;
}

.paralelogramo {
    -webkit-transform: skew(-20deg);
    -moz-transform: skew(-20deg);
    -ms-transform: skew(-20deg);
    -o-transform: skew(-20deg);
    transform: skew(-20deg);
}

.subseccion p {
    width: 80%;
    margin: 10px 0;
    margin: auto;
}

.btn {
    background-color: #C5C3C6;
    /* #4C5C68; */
    /* rgba(128, 128, 128, 0.623); */
    width: 50%;
    margin: auto;
    border: black solid 1px;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 5px;
    text-align: center;
}

.btn:hover {
    background-color: #DCDCDD;
    /* #C5C3C6; */
    /* rgba(128, 128, 128, 0.8); */
    cursor: pointer;
}

#subimagen1:hover {
    animation-name: showOptions;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}

.subseccion2:hover+#subimagen1 {
    animation-name: showOptions;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}

#subimagen2:hover {
    animation-name: showOptions;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}

.subseccion2:hover+#subimagen2 {
    animation-name: showOptions;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}

@keyframes showOptions {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        transform: translate(100%);
    }
}

footer {
    background-color: #1985A1;
    /* rgb(2, 143, 209); */
    height: 30px;
    width: 100%;
    min-width: 650px;
    line-height: 30px;
    text-align: center;
}